<p>
  <b>Categorie:</b>
  <%=h @fede_rgpt_dispo_conv.categorie %>
</p>

<p>
  <b>Nom:</b>
  <%=h @fede_rgpt_dispo_conv.nom %>
</p>


<%= link_to 'Edit', edit_fede_rgpt_dispo_conv_path(@fede_rgpt_dispo_conv) %> |
<%= link_to 'Back', fede_rgpt_dispo_convs_path %>