<div id="colonne1">
  <h2 class="ficheid">Désabonnement à notre Newsletter</h2>

  <p>
    Entrez l'adresse email à laquelle vous recevez notre lettre d'information pour vous désinscrire.
  </p>

  <p>
    <% form_tag delete_abonne_newsletters_path(), {:method => :put} do %>
      Votre Email : <%= text_field_tag :email %>
    
      <%= submit_tag "Désabonner" %>
    <% end %>
  </p>
</div>

<div id="side-colonne">
	<%= render :partial => "shared/sidecolonne2" %>
	<div class="topsidemenu">
		&nbsp;		
	</div>
	<div class="side-menu">
		<p>
			<b>Partenaires :</b>
		</p>
		<p>
			<a href="http://www.club1901.asso.fr" class="image">
			<img src="/images/Logo-club1901.gif"
			border="0" alt="logo-club1901"></a>
		</p>
		<p>
			<a href="#" class="image">
			<img src="/images/Logo-agouti.gif"
			border="0" alt="logo-agouti"></a>
		</p>
		<p>
			<a href="#" class="image">
			<img src="/images/Logo-crajep.gif"
			border="0" alt="logo-agouti"></a>
		</p>
	</div>
</div>