<p>
  <b>Date pub:</b>
  <%=h @newsletter.date_pub %>
</p>

<p>
  <b>Numero:</b>
  <%=h @newsletter.numero %>
</p>


<%= link_to 'Edit', edit_newsletter_path(@newsletter) %> |
<%= link_to 'Back', newsletters_path %>
