<p>
  <b>Association:</b>
  <%=h @assoc_manif.association_id %>
</p>

<p>
  <b>Manifestation:</b>
  <%=h @assoc_manif.manifestation_id %>
</p>


<%= link_to 'Edit', edit_assoc_manif_path(@assoc_manif) %> |
<%= link_to 'Back', assoc_manifs_path %>