<p>
  <b>Association:</b>
  <%=h @associations_champ_intervention.association_id %>
</p>

<p>
  <b>Champ intervention:</b>
  <%=h @associations_champ_intervention.champ_intervention_id %>
</p>


<%= link_to 'Edit', edit_associations_champ_intervention_path(@associations_champ_intervention) %> |
<%= link_to 'Back', associations_champ_interventions_path %>