<table>
	<tr>
		<th>Nom</th>
		<th>Adresse</th>
		<th>Code Postal Ville</th>
		<th>Email</th>
	</tr>
	<% if !@associations.blank? %>
	  <% for association in @associations %>
	    <tr>
			<td><%= association.nom %></td>
			<td><%= association.adresse_siegesocial %></td>
			<td><%= association.cp_ville %></td>
			<td><%= association.email %></td>
		</tr>
	  <% end %>
	<% else %>
	  
	<% end %>
	
</table>