<p>
  <b>Association:</b>
  <%=h @adhesion.association_id %>
</p>

<p>
  <b>Membre:</b>
  <%=h @adhesion.membre_id %>
</p>


<%= link_to 'Edit', edit_adhesion_path(@adhesion) %> |
<%= link_to 'Back', adhesions_path %>