<p>Bonjour <%= @resource.email %>!</p>

<p>Quelqu'un souhaites modifier votre mot de passe, vous pouvez le faire grâce au lien ci-dessous</p>

<p><%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si vous n'avez pas demandé cette modification, veuillez ignorer ce courriel.</p>
<p>Votre mot de passe ne sera pas modifié jusqu'à ce que vous accédez au lien ci-dessus et en créez un nouveau.</p>

-------------------------------------

<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password, and you can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
